nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li {
    display:inline;
    background-color:#eee;
    padding:5px;
    margin-right:5px;
    font-size:.8em;
}

.dream{
	background-color: #e2c844;
	color:#282c9b;
	font-size:1.5em;
	font-family: cBrush Script Std, Brush Script MT, cursive;
}




.complete{
	text-decoration: line-through;
	font-size: 1.2em;
}
.completed{
	border: thin black solid;
}